* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
  position: relative;
}
.cfixed:after,
.container:after {
  display: block;
  content: "";
  clear: both;
}
.sec-tit {
  font-size: 42px;
  color: #3f51b5;
  font-weight: normal;
}
