.skill-section {
  margin-top: 77px;
}

.skill-section .sec-tit {
  margin-bottom: 47px;
  text-align: center;
}
.skill-section .skill-list {
  display: flex;
  padding: 30px 12.5%;
  flex-wrap: wrap;
}
.skill-section .skill-list li {
  width: 29.16666666666667%;
  // 93.33333333333333‬px / 320px
  margin-left: 6.25%;
  //  20px / 320px
  text-align: center;
}

.skill-section .skill-list li:nth-last-child(3n) {
  margin-left: 0;
}

.skill-section .skill-list li img {
  height: 52px;
}

.skill-section .skill-list li h3 {
  margin: 25px 0 35px 0;
  color: #3f51b5;
  font-weight: normal;
}

@media all and (min-width: 768px) {
  .skill-section {
    margin-top: 124px;
  }

  .skill-section .sec-tit {
    margin-bottom: 76px;
  }

  .skill-section .skill-list li {
    width: 31.59722222222222%;
    // 242.6666666666667px / 768px
    margin-left: 2.604166666666667%;
    // 20px / 768px
    margin-top: 0;
  }
}

@media all and (min-width: 1132px) {
  .skill-section .sec-tit {
    float: left;
    margin-bottom: 0;
  }

  .skill-section .skill-list {
    float: right;
    width: 74.5583038869258%;
    // 844px / 1132px
  }

  .skill-section .skill-list li {
    width: 14.69194312796209%;
    // 124px / 844px
    margin-left: 2.369668246445498%;
    // 20px / 844px
  }
}
